<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>album finder</title>
        <link rel="stylesheet" href="./assets/css/bootstrap.css">
        <link rel="stylesheet" href="./assets/css/application.css">
    </head>
    <body>

        <div class="container">
            <section class="jumbotron">

                <header class="header">
                    <h1>album finder</h1>
                </header>

                <section class="search">
                    <div id="search-region"></div>
                </section>

                <section class="results" id="app-container">
                    <div id="main-region"></div>
                </section>

            </section><!-- /.jumbotron -->
            <footer class="footer"></footer>
        </div><!-- /.container -->

<script type="text/template" id="search">
    <div class="row"><div class="col-lg-6"><p><h2>search</h2></div></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
            <input type="text" class="form-control" id="js-search-text" placeholder="Search for...">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" id="js-search" aria-label="Search">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
</script><!-- /search -->

<script type="text/template" id="results-empty">
    <h3>welcome</h3>
    <p>hi, i'll search deezer &amp; bandcamp for you.</p>
</script>

<script type="text/template" id="history-header">
    <div class="row"><div class="col-lg-6"><hr class="divider"></div></div>
    <div class="row"><div class="col-lg-6"><h3>history</h3></div></div>
    <div id="history"></div>
</script><!-- /#results-header -->

<script type="text/template" id="results-closed">
<% if (closed){ %>
    <div id="result-<%- id %>">
    <div class="row row-closed">
        <div class="col-md-1">
            <button type="button" class="btn btn-default js-show" aria-label="Open">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-10">
            <p><%- query %></p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default js-delete" aria-label="Delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    </div><!-- /#result-x -->
<% }else{%>
    <div class="row row-open">
        <div class="col-md-1">
            <button type="button" class="btn btn-default js-show" aria-label="Close">
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
            </button>
        </div>
        <div class="col-md-10">
            <p><%- query %></p>
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-default js-delete" aria-label="Delete">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </div>
<% if (bandcamp.not_found === undefined) { %>
    <div class="row container">
        <div class="col-md-12">
            <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=<%- bandcamp.id %>/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless>
                Bandcamp: <a href="<%- bandcamp.link %>"><%- bandcamp.artist %> - <%- bandcamp.title %></a>
            </iframe>
        </div>
    </div>
<% } %>
<% if (deezer.not_found === undefined) { %>
    <div class="row container">
        <div class="col-md-12">
            <iframe scrolling="no" frameborder="0" allowTransparency="true" src="http://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=false&width=600&height=90&color=007FEB&layout=dark&size=medium&type=album&id=<%- deezer.id %>&title=&app_id=1" width="700" height="90">
                Deezer: <a href="<%- deezer.link %>"><%- deezer.artist %> - <%- deezer.title %></a>
            </iframe>
        </div>
    </div>
<% } %>
<% } %>
</script><!-- /#results-closed -->

        <script src="./assets/js/vendor/jquery.js"></script>
        <script src="./assets/js/vendor/json2.js"></script>
        <script src="./assets/js/vendor/underscore.js"></script>

        <!-- Backbone depends on jQuery and Underscore, so included after -->
        <script src="./assets/js/vendor/backbone.js"></script>
        <script src="./assets/js/vendor/backbone.marionette.js"></script>
        <script src="./assets/js/vendor/backbone.localstorage.js"></script>

        <script src="./assets/js/app.js"></script>
        <script src="./assets/js/apps/config/storage/localstorage.js"></script>
        <script src="./assets/js/entities/history.js"></script>
        <script src="./assets/js/apps/history/list/list_view.js"></script>
        <script src="./assets/js/apps/history/list/list_controller.js"></script>
        <script src="./assets/js/apps/search/input_view.js"></script>
        <script src="./assets/js/apps/search/input_controller.js"></script>

<script type="text/javascript">
    Music.start();
</script>

    </body>
</html>
